.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;

  .service-container-label {
    color: white;
    font-weight: bold;
  }
}
.service-input {
  min-width: 300px;
}
.service-label {
  margin-right: 12px;
  color: white;
}
