.hero-image-container {
  position: relative;
  background-color: #485960;
  .hero-image-container-image {
    width: 100%;
    height: 100%;
  }
  .black-layer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
