.detailed-info {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    background-color: #eee;
    .detailed-info-heading {
        text-align: center;
        font-size: 48px;
        margin-bottom: 24px;
    }
    .detailed-info-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .detailed-info-content-image {
            width: auto;
            height: 200px;
        }
        .detailed-info-content-btn {
            margin: 0 48px;
        }
    }
}