@import "./sizes.scss";

.app {
  display: flex;
  flex-direction: column;
}

main {
  max-width: $layout-max-width;
  margin: auto auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
